*{
    padding: 0;
    margin: 0;
}

.control input{
    display:flex;
    width: 50%;
    padding: 20px;
    margin: 30px 310px ;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.control h2{
    text-align: center;
}
#button1{
    text-align: center;
    width: 100px;
    background-color:lightblue;
    color: black;

    margin: 10px 600px ;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
